body{
    margin: 0;
    padding: 0;
    animation: anothercolor 10s infinite;
    transition: background-color 3s ease-in-out;
}

main{
    margin:0px 300px 0px 300px;
}

    
header a{
    
    text-decoration: none;
    font-size: 32px;
    color: blueviolet;
    font-family:Georgia, 'Times New Roman', Times, serif
}
    
header{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color:black;
}    

div h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color:white;
}

div h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color:whitesmoke;
}
    
.container1{
    border: 1px gray solid;
    background-color: gray;
}

.container2{
 background-color: black;
  height: 300px;
}

.dados{

display: grid;
justify-content: center;
color: aliceblue;

}

button{
    
    width: 80px;
    height: 40px;
    border-radius: 4px;
    margin-top:20px;
    align-items: center;
}

#botao{
    margin-top: 20px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@keyframes anothercolor{
    0%{background-color: rgb(55, 59, 55);}

   
    20%{background-color: rgb(45, 46, 54);}
   
   
     40%{background-color: rgb(37, 25, 44);}

      60%{background-color: rgb(58, 58, 30);}


       80%{background-color: rgb(78, 51, 41);}

        100%{background-color:  rgb(55, 59, 55);}
}